@{
	ViewData["Title"] = "Batches";

	ViewData["AreaName"] = "Batch";
	ViewData["ControllerName"] = "Batch";
	int serialNumber = 1;
}


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-default btn-success" style="float:right; position:relative;" asp-action="create" asp-controller="Batch" asp-area="Batch">Create New Batch </a>
			<h2 class="st_title"><i class="uil uil-analysis"></i> Batches</h2>

			@await Html.PartialAsync("~/Areas/Admin/Views/Partials/_AlertPartial.cshtml")

		</div>
	</div>


	<div class="row">

		<div class="col-lg-12">
			<div class="table-responsive mt-30">
				<table class="table ucp-table">
					<thead class="thead-s">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="cell-ta" scope="col">Batch Code</th>
							<th class="cell-ta" scope="col">Course Module</th>
							<th class="cell-ta" scope="col">Trainer</th>
							<th class="text-center" scope="col">Start Date</th>
							<th class="text-center" scope="col">Start Time</th>
							<th class="text-center" scope="col">Status</th>
							<th class="text-center" scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>

						@foreach (var item in ViewBag.Batches)
						{
							<tr>
								<td class="text-center">@serialNumber</td>
								<td class="cell-ta">@item.BatchCode</td>
								<td class="cell-ta">@item.ModuleName</td>
								<td class="cell-ta">@item.TrainerName</td>
								<td class="text-center">@item.StartDate</td>
								<td class="text-center">@item.StartTime</td>
								<td class="text-center">
									<i class="badge bg-@(item.StatusLabel=="Active" ? "success" : "danger")">@item.StatusLabel</i>
								</td>
								@* 
								<td class="cell-ta">@item.CourseLevel</td> *@
								<td class="text-center">
									@* <a asp-action="edit" asp-controller="course" asp-area="course" asp-route-id="@item.CourseId" title="Edit" class="btn gray-s btn-edit"><i class="uil uil-edit-alt"></i></a>

									<button type="button" class="btn btn-primary btn-delete"
											data-bs-toggle="modal"
											data-delete_id="@item.CourseId"
											data-delete_display="@item.CourseName"
											data-bs-target="#delete_confirm_model">
										<i class="uil uil-trash-alt"></i>
									</button> *@


								</td>
							</tr>
							serialNumber++;
						}
					</tbody>
				</table>
			</div>


		</div>
	</div>



</div>

