@model StudentAddModel
@{
	int serialNumber = 1;

	ViewData["Title"] = "Enquiries";
	ViewData["AreaName"] = "Student";
	ViewData["ControllerName"] = "Enquiry";

	// List of columns to concatenate for data-delete_display
	var displayColumns = new List<string> { "CandidateName"};
	ViewData["DisplayColumns"] = displayColumns;

	// Passing complete model, don't change this
	ViewData["ListData"] = Model;

}


<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-default btn-success" style="float:right; position:relative;" asp-action="create" asp-controller="@ViewData["ControllerName"]" asp-area="@ViewData["AreaName"]">Create New @ViewData["ControllerName"] </a>
			<h2 class="st_title"><i class="uil uil-analysis"></i> @ViewData["Title"] </h2>
			@await Html.PartialAsync("~/Areas/Admin/Views/Partials/_AlertPartial.cshtml")
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div class="table-responsive mt-30">
				<table class="table ucp-table">
					<thead class="thead-s">
						<tr>
							<th class="text-center" scope="col">#</th>
							<th class="cell-ta" scope="col">Candidate Name</th>
							<th class="cell-ta" scope="col">Enquiry Date</th>
							<th class="cell-ta" scope="col">Mobile Number</th>
							<th class="cell-ta" scope="col">City </th>
							<th class="cell-ta" scope="col">EnquiryFor </th>
							<th class="text-center" scope="col">Action </th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in ViewBag.Enquiries)
						{
							<tr>
								<td class="text-center">@serialNumber</td>
								<td class="cell-ta">@item.CandidateName</td>
								<td class="cell-ta">@item.EnquiryDate</td>
								<td class="cell-ta">@item.MobileNumber</td>
								<td class="cell-ta">@item.CityName</td>
								<td class="cell-ta">@item.EnquiryForName</td>
								<td class="text-center">


									<button type="button" class="btn btn-primary btn-enquiry-view"
											data-bs-toggle="modal"
											data-id="@item.EnquiryId"
											data-candidate_name="@item.CandidateName"
											data-enquiry_date="@item.EnquiryDate"
											data-mobile_number="@item.MobileNumber"
											data-email_address="@item.EmailAddress"
											data-city_name="@item.CityName"
											data-enquiry_for_name="@item.EnquiryForName"
											data-remark="@item.Remark"
											data-bs-target="#enquiry_model">
										<i class="uil uil-user-plus"></i>
									</button>


									<a class="btn btn-primary" asp-action="edit" asp-controller="lead" asp-area="student" asp-route-id="@item.EnquiryId">
										<i class="uil uil-edit-alt"></i>
									</a>
									<a class="btn btn-primary" asp-action="edit" asp-controller="lead" asp-area="student" asp-route-id="@item.EnquiryId">
										<i class="uil uil-trash-alt"></i>
									</a>

								</td>
							</tr>
							serialNumber++;
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>


</div>


@section Scripts {
	@await Html.PartialAsync("~/Areas/Admin/Views/Partials/_DeleteModelPartial.cshtml")

	<!-- Modal -->

	<div class="modal fade" id="enquiry_view_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color:#eeeeee">
					<h3 class="modal-title">
						<i class="uil uil-user"></i> <span id="lbl_enquiry_candidate_name"></span>
					</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

				</div>
				<div class="modal-body p-4">
					<div class="row">
						<div class="col-md-9" >
							<table class="table shadow border border-1 border-info">
								<tr>
									<th>Mobile Number</th>
									<td><span id="lbl_enquiry_mobile_number">-</span></td>
								</tr>
								<tr>
									<th>Email Address</th>
									<td><span id="lbl_enquiry_email_address">-</span></td>
								</tr>
								<tr>
									<th>City</th>
									<td><span id="lbl_enquiry_city_name">-</span></td>
								</tr>
							</table>
						</div>

						<div class="col-md-3 text-center">
							<ul >
								<li class="mt-4"><b id="lbl_enquiry_enquiry_date">-</b></li>
								<li class="mt-4"><h4 id="lbl_enquiry_enquiry_for_name" class="badge bg-info">-</h4></li>
								<li>
									<button type="button" class="btn btn-outline-primary mt-3" onclick="proccedEnrollment()"> Proceed </button>
								</li>
							</ul>
						</div>

					</div>

					<div class="text-center mt-4 card-student" style="display:none">
						<form method="post" id="formStudent" asp-area="Student" asp-controller="Student" asp-action="Create">

							<input  type="hidden" id="txt_enquiry_id" asp-for="EnquiryId" />

							<div class="row" style="display:none">

								<div class="col-lg-6 col-md-6">
									<div class="ui search focus mt-30 lbel25">
										<label>Student Name*</label>
										<div class="ui left icon input swdh19">
											<input class="prompt srch_explore" type="text" id="txt_enquiry_candidate_name" asp-for="StudentName" placeholder="Student name here" readonly />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="ui search focus mt-30 lbel25">
										<label>Mobile Number*</label>
										<div class="ui left icon input swdh19">
											<input class="prompt srch_explore" type="text" id="txt_enquiry_mobile_number" asp-for="MobileNumber" placeholder="Mobile Number" readonly />
										</div>
									</div>
								</div>

								<div class="col-lg-6 col-md-6">
									<div class="ui search focus mt-30 lbel25">
										<label>Email Address*</label>
										<div class="ui left icon input swdh19">
											<input class="prompt srch_explore" type="email" id="txt_enquiry_email_address" asp-for="EmailAddress" placeholder="Email Addreess" readonly />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-6 col-md-12">
									<div class="mt-30 lbel25">
										<label>Select Course Category*</label>
									</div>
									<select class="form-control" id="drpCourseCategory">
										<option value="">Select Course Category</option>
										@foreach (var item in ViewBag.CourseCategories)
										{
											<option value="@item.CourseCategoryId">@item.CourseCategoryName</option>
										}
									</select>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="mt-30 lbel25">
										<label>Select Course*</label>
									</div>

									<select class="form-control" id="CourseId" asp-for="CourseId" required>
										<option value="">Select Course</option>
									</select>
								</div>
							</div>

							<div class="row d-none" id="tblFees">
								<div class="col-lg-12 col-md-12 mt-4">
									<table class="table" >
									</table>
								</div>
							</div>

							<div class="row mt-3">
								<div class="col-12 p-3">
									<input type="submit" value="Procced For Enrollment" class="main-btn" id="btnFormformStudent" />
								</div>
							</div>

						</form>
					</div>


					<div class="text-center mt-4 card-remark">

@* 						<button type="button" class="btn btn-outline-secondary"><i class="uil uil-whatsapp"></i>Placement</button>
						<button type="button" class="btn btn-outline-success"><i class="uil uil-comment-alt-message"></i> Counciling</button>
						<button type="button" class="btn btn-outline-success"><i class="uil uil-comment-alt-message"></i> Realtime Project</button>
 *@
						<form method="post" id="formRemark" asp-area="Student" asp-controller="Enquiry" asp-action="UpdateRemark">
							<div class="my-3 shadow">
								<label>Remark</label>
								<textarea class="form-control p-3" style="background-color:#eeeeee" name="Remark" id="lbl_enquiry_remark" rows="5" placeholder="Add Remark Here"></textarea>
							</div>

							<input type="hidden" name="EnquiryId" id="txt_enquiry_id2" value="" />
							<input type="submit" value="Save Remark" class="main-btn" id="btnFormformRemark" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>


		$('.btn-enquiry-view').click(function (event) {

			let dataAttributes = $(this).data();
			// console.log(dataAttributes);


			// Optionally, you can loop through and access individual attributes
			$.each(dataAttributes, function (key, value) {

				$('#lbl_enquiry_' + key).text(value);
				$('#txt_enquiry_' + key).val(value);
				if(key == 'id'){
				$('#txt_enquiry_id2').val(value);
				}

				console.log(key + ' : ' + value);
			});


			$('#enquiry_view_model').modal('show');

		})

		function proccedEnrollment(){
			$(".card-remark").hide();
			$(".card-student").show();
		}


		$('#enquiry_view_model').on('hidden.bs.modal', function () {
			// Your code to handle the modal close event
			$(".card-remark").show();
			$(".card-student").hide();

		});


		$("#drpCourseCategory").change(() => {
			let selectedVal = $("#drpCourseCategory").val();
			if (!selectedVal) return;
			$("#CourseId").html(`<option value="">Select Course</option>`)
			$("#CourseId").val("").select();


			let url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/Course/Course/GetIdNameList/${selectedVal}`;
			$.get(url, (response) => {
				const options = response.map(v => `<option value="${v.courseId}">${v.courseName}</option>`).join('');
				$("#CourseId").append(options);
			}).fail(console.log);
		})


		$("#CourseId").change(() => {
			let selectedVal = $("#CourseId").val();
			if (!selectedVal) return;

			let url = `${window.location.protocol}//${window.location.hostname}:${window.location.port}/Course/Course/GetCourseFees/${selectedVal}`;
			$.get(url, (response) => {
				console.log(response);
				let htmls = `
					<thead>
						<tr>
							<th>Total Installments</th>
							<th>Fees Amount </th>
							<th>Gst Percentage</th>
							<th>GST Amount </th>
							<th>Total Amount</th>
						<tr>
					</thead>
					<tbody>
				`;

				response.forEach((v,i)=>{
					htmls += `
								<tr>
									<td>${v.totalInstallments}</td>
									<th>${v.feeAmount}</th>
									<th>${v.gstPercentage}</th>
									<th>${v.gstAmount}</th>
									<th>${v.totalAmountWithGst}</th>
								<tr>
							`;

				})


				$('#tblFees').removeClass('d-none');
				$('#tblFees .table').html(htmls + '</tbody>');

				// const options = response.map(v => `<option value="${v.courseId}">${v.courseName}</option>`).join('');
				// $("#CourseId").append(options);
			}).fail(console.log);
		})



	</script>


}




